<app-header></app-header>

<main class="grid grid-cols-2 gap-6 place-items-center h-screen mt-10">
  <app-card title="Hospitais" backgroundColor="#473A80" (click)="navigateHospitais()">
    <img src="/assets/svg/hospital-icon.svg" alt="Hospital Icon" />
  </app-card>
  <app-card title="Profissionais" backgroundColor="#A8CF46" (click)="navigateProfissionais()">
    <img src="/assets/svg/profissionais-icon.svg" alt="Profissionais Icon" />
  </app-card>
  <app-card title="Pacientes" backgroundColor="#EC3138" (click)="navigatePacientes()">
    <img src="/assets/svg/pacientes-icon.svg" alt="Pacientes Icon" />
  </app-card>
  <app-card title="Agendamentos" backgroundColor="#FFCC2A" (click)="navigateAgendamentos()">
    <img src="/assets/svg/agendamentos-icon.svg" alt="Agendamentos Icon" />
  </app-card>
</main>
