<app-header></app-header>

<app-create createBtn="Cadastrar" cancelBtn="Cancelar" title="Novo Hospital" [routePath]="'/listahospitais'"(submit)="submit()">
  <form [formGroup]="createForm" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 ">
    <app-primary-input
    formControlName="id"
    inputName="id"
    type="number"
    label="ID">
    </app-primary-input>

    <app-primary-input
    formControlName="name"
    inputName="name"
    type="text"
    label="Nome">
  </app-primary-input>

    <app-primary-input
    formControlName="cnpj"
    inputName="cnpj"
    type="number"
    label="CNPJ">
    </app-primary-input>

    <app-primary-input
    formControlName="phone"
    inputName="phone"
    type="tel"
    label="Telefone"
    placeholder="">
    </app-primary-input>

    <app-primary-input
    formControlName="address"
    inputName="address"
    type="text"
    label="Endereço"
    placeholder="">
    </app-primary-input>

    <app-primary-input
    formControlName="postalCode"
    inputName="postalCode"
    type="number"
    label="CEP"
    placeholder="">
    </app-primary-input>

    <app-primary-input
    formControlName="city"
    inputName="city"
    type="text"
    label="Cidade"
    placeholder="">
    </app-primary-input>

    <app-primary-input
    formControlName="state"
    inputName="state"
    type="text"
    label="Estado"
    placeholder="">
    </app-primary-input>

    <app-primary-input
    formControlName="treatment"
    inputName="treatment"
    label="Tratamento"
    [options]="['Quimioterapia', 'Radioterapia', 'Outro']">
    </app-primary-input>

  </form>
</app-create>
