<app-lista-items
  title="Hospitais"
  primaryBtnText="Adicionar Hospital"
  primeiroAtributo="Nome"
  segundoAtributo="Telefone"
  terceiroAtributo="Cidade"
  quartoAtributo="Santa Casa"
  quintoAtributo="1930303030"
  sextoAtributo="São João da Boa Vista"
  setimoAtributo="Unimed"
  oitavoAtributo="1930542698"
  nonoAtributo="São João da Boa Vista"
  secondaryBtnText="Editar"
  firstFilter="São João da Boa Vista"
  [placeholderText]="'Buscar hospital'"
  [routePath]="'/cadastrohospital'"
>

</app-lista-items>