@import 'tailwindcss/utilities';

button {
  transition: color 0.3s ease, background-color 0.3s ease;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.table thead {
  font-weight: 600;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
