<app-lista-items
  title="Profissionais"
  primaryBtnText="Adicionar Profissional"
  primeiroAtributo="Nome"
  segundoAtributo="Especialidade"
  terceiroAtributo="Cidade"
  quartoAtributo="Maria da Silva"
  quintoAtributo="Fisioterapeuta"
  sextoAtributo="Aguaí"
  setimoAtributo="Jose de Oliveira"
  oitavoAtributo="Piscicólogo"
  nonoAtributo="Aguaí"
  secondaryBtnText="Editar"
  firstFilter="Aguaí"
  [placeholderText]="'Buscar profissional'"
  [routePath]="'/cadastroprofissionais'"
>

</app-lista-items>