<app-header></app-header>

<app-create createBtn="Cadastrar" cancelBtn="Cancelar" title="Novo Paciente" [routePath]="'/listapacientes'" (submit)="submit()">
  <form [formGroup]="createForm" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 ">


    <app-primary-input
    formControlName="name"
    inputName="name"
    type="text"
    label="Nome">
  </app-primary-input>

  <app-primary-input
  formControlName="hospital_id"
  inputName="hospital_id"
  type="number"
  label="Hospital ID">
</app-primary-input>

<app-primary-input
  formControlName="medico_id"
  inputName="medico_id"
  type="number"
  label="Médico ID">
</app-primary-input>


    <app-primary-input
    formControlName="cpf"
    inputName="cpf"
    type="number"
    label="CPF">
    </app-primary-input>

    <app-primary-input
    formControlName="gender"
    inputName="gender"
    label="Gênero"
    [options]="['Feminino', 'Masculino', 'Outro']">
    </app-primary-input>

    <app-primary-input
    formControlName="birthdate"
    inputName="birthdate"
    type="date"
    label="Data de Nascimento"
    placeholder="">
  </app-primary-input>

    <app-primary-input
    formControlName="phone"
    inputName="phone"
    type="tel"
    label="Telefone"
    placeholder="">
    </app-primary-input>

    <app-primary-input
    formControlName="guardian"
    inputName="guardian"
    type="text"
    label="Nome do Responsável"
    placeholder="">
    </app-primary-input>

    <app-primary-input
    formControlName="guardianphone"
    inputName="guardianphone"
    type="tel"
    label="Telefone do Responsável"
    placeholder="">
    </app-primary-input>

    <app-primary-input
    formControlName="address"
    inputName="address"
    type="text"
    label="Endereço"
    placeholder="">
    </app-primary-input>

    <app-primary-input
    formControlName="postalCode"
    inputName="postalCode"
    type="number"
    label="CEP"
    placeholder="">
    </app-primary-input>

    <app-primary-input
    formControlName="city"
    inputName="city"
    type="text"
    label="Cidade"
    placeholder="">
    </app-primary-input>

    <app-primary-input
    formControlName="state"
    inputName="state"
    type="text"
    label="Estado"
    placeholder="">
    </app-primary-input>

  </form>
</app-create>